<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (data.length !== 0) { %>

        <ul>
            <!--is for adding data, not necceary for a for loop for example -->
            <% for(let i = 0; i < data.length; i++) { %>
                <!-- iterating through the current data i -->
                <!-- We know its fname/lname because this is the id in the tag we snatched earlier from the html, can confirm this by console logging the confirmations and seeing the label assocaited with the data type in the array - the OBJECTS names  -->
                <li>
                    <%= data[i].firstName %> <%= data[i].lastName %>
                   
                </li>
                <!-- need to close it but remember js requires a closing brack } -->
            <% } %>
        </ul>
    <% } else { %>
        <p>No Data</p>
    <% } %>
</body>

</html>